body{
    font-family: sans-serif;
    padding-top: 50px;
    background-color: #f4f4f4;
    margin:0;
}

.about-us {
  margin-top: 80px;
  color: rgba(0, 0, 0, 0.7);
  margin-top: 60px; 
  padding: 20px;
  border-radius:10px;
  display: flex;          
  flex-direction: column;
  justify-content: space-around; 
  align-items: center; 
  text-align: center;
    
}

.about-us h1 {
  font-size: 3em; 
  margin-bottom: 20px;
  margin-top:10px;
}

.about-content{
  display: flex;          
  gap: 50px;              
  justify-content: center;  
  flex-direction: row-reverse;
  align-items: flex-start; 
}

.text-section {
  width: 50%;
  text-align: left; 
  line-height: 1.6;
}

.team-section {
  width: 30%; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.member {
  display: flex;
  flex-direction: column; 
  align-items: center;
  margin-bottom: 30px;
}

.member img {
  width: 70px; 
  height: 70px;
  border-radius: 50%;
}